<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
    	<param-name>datoteka1</param-name>
    	<param-value>NWTiS_DZ1_V1.csv</param-value>
    	</context-param>
    	
    	
    	    <context-param>
    	<param-name>datoteka2</param-name>
    	<param-value>NWTiS_DZ1_V2.csv</param-value>
    	</context-param>
    	
    	    <context-param>
    	<param-name>datoteka3</param-name>
    	<param-value>NWTiS_DZ1_V3.csv</param-value>
    	</context-param>
</web-app>
